<template>
  <form class="form w-50 shadow-lg border border-warning border-5 mb-3">
    <div class="title clear form-control mb-3">
      <h3 class="d-flex justify-content-center">ZOO</h3>
    </div>
    <div v-if="!cost">
      <div class="form-floating form-check-inline w-25 mb-3">
        <input type="url" class="form-control text-center" v-model="mass" id="floatingInput">
        <label for="floatingInput" class="text-center">Вага посилки</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" v-model="title" id="inlineRadio1" value="TransCompany">
        <label class="form-check-label" for="inlineRadio1">TransCompany</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" v-model="title" id="inlineRadio2" value="PackGroup">
        <label class="form-check-label" for="inlineRadio2">PackGroup</label>
      </div>
      <div class="clear form-control">
        <button @click.prevent="calculate" class="btn btn-outline-primary btn-sm btn-block">
          Підрахувати вартість відправки
        </button>
      </div>
    </div>
    <div v-if="cost">
      <div class="form-control mb-3 text-center">
        <span>{{ cost }} EUR</span>
      </div>
      <div class="clear form-control">
        <button @click.prevent="onceAgain" class="btn btn-outline-success btn-sm btn-block">
          Підрахувати ще раз
        </button>
      </div>
    </div>
  </form>
  <vue-basic-alert ref="alert" :closeIn="2500"/>
</template>
<script>
import VueBasicAlert from 'vue-basic-alert'

export default {
  name: "FormComponent",
  components: {
    VueBasicAlert
  },
  data() {
    return {
      cost: null,
      mass: null,
      title: null
    }
  },

  methods: {
    calculate() {
      axios.post('/api/cost', {mass: this.mass, title: this.title})
          .then(res => {
            this.cost = res.data.cost
            this.$refs.alert.showAlert('success', 'Вартість посилки встановлено!', 'Підраховано')
          })
          .catch(this.$refs.alert.showAlert('error', 'Така вага не прийнятна!', 'Невірні дані!'))
    },

    onceAgain() {
      this.cost = null
      this.mass = null
    }

  }
}
</script>

<style scoped>
.clear {
  padding: unset;
  border: none;
}

button {
  width: inherit;
}

label, button {
  font-size: large;
}

.title {
  font-size: x-large;
}

.form {
  background-color: #f8fafc;
  padding: 20px;
  border-radius: 15px;
  border-color: #1a202c;
}
</style>
