<template>
  <form class="ms-5 w-25 h-25">
    <label for="exampleFormControlTextarea1" class="form-label fw-bold text-warning fs-1">Write your text with
      tags</label>
    <textarea v-model="textTags" class="form-control mb-3" id="exampleFormControlTextarea1" rows="6"></textarea>
    <button @click.prevent="filterTags" class="btn btn-primary mb-3">Filter tags</button>
  </form>
  <form class="ms-5 w-25 h-25">
    <label for="exampleFormControlTextarea1" class="form-label fw-bold text-warning fs-1">Write text</label>
    <textarea v-model="textKeys" class="form-control mb-3" id="exampleFormControlTextarea1" rows="6"></textarea>
    <input v-model="keys" class="form-control mb-3" type="text" placeholder="Enter your keys separated by commas">
    <button @click.prevent="filterKeys" class="btn btn-primary mb-3">Filter keys</button>
  </form>
</template>

<script>
export default {
  name: "TextComponent",

  data() {
    return {
      textTags: null,
      textKeys: null,
      keys: null
    }
  },

  methods: {
    filterTags() {
      axios.post('/api/text/tags', {text: this.textTags}, {headers: {'Content-Type': 'application/json;charset=UTF-8'}})
          .then(res => {
            console.log(res.data.tags)
          })
    },
    filterKeys() {
      axios.post('/api/text/keys', {text: this.textKeys, keys: this.keys}, {headers: {'Content-Type': 'application/json;charset=UTF-8'}})
          .then(res => {
            console.log(res.data)
            this.filteredTags = res.data.keys
            console.log(this.filteredKeys)
          })
    }
  }
}


</script>

<style scoped>

</style>